* {
    margin: 0;
    background: #fff;
}

body, #app {
    height: 100vh;
    background: #000;
}

button, input {
    height: 100%;
    border: none;
    background: #fff;
    border-radius: 0.25rem;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

button > * {
    background: transparent;
}

button:hover {
    background: #eee;
}

button:active {
    background: #ddd;
}

input {
    cursor: text;
    height: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.divider {
    height: 80%;
    background: #ccc;
    width: 1px;
    margin-top: auto;
    margin-bottom: auto;
}