.levelSelector {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
}

.btn {
    aspect-ratio: 1;
    padding: 0;
}

.in {
    width: 3rem;
    appearance: textfield;
}

.in::-webkit-outer-spin-button, .in::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}